

/***
 *          _     _        _        _                                    
 *      ___| |__ (_)___ __| |_ ___ | |__ _ _  _ ___ _ _ ___  _____ ______
 *     / _ \ '_ \| / -_) _|  _(_-< | / _` | || / -_) '_(_-<_(_-< _(_-<_-<
 *     \___/_.__// \___\__|\__/__/_|_\__,_|\_, \___|_| /__(_)__|__/__/__/
 *             |__/             |___|      |__/                          
 */


//  NB. Bootstrap master Z-index >999
 $z-layer: (
    0: 100,
    1: 200,
    2: 300,
    3: 400,
    4: 500,
    5: 600,
    6: 700,
    7: 800,
    8: 900,
     );

.z0{
    z-index: map-get($z-layer, 0) !important;
}
.z1{
    z-index: map-get($z-layer, 1) !important;
}
.z2{
    z-index: map-get($z-layer, 2) !important;
}
.z3{
    z-index: map-get($z-layer, 3) !important;
}

.z4{
    z-index: map-get($z-layer, 4) !important;
}
.z5{
    z-index: map-get($z-layer, 5) !important;
}
.z6{
    z-index: map-get($z-layer, 6) !important;
}
.z7{
    z-index: map-get($z-layer, 7) !important;
}

.z8{
    z-index: map-get($z-layer, 8) !important;
}

/* LAYERS ENDS */