

/***
 *       ___  ___    _ ___ ___ _____ ___ 
 *      / _ \| _ )_ | | __/ __|_   _/ __|
 *     | (_) | _ \ || | _| (__  | | \__ \
 *      \___/|___/\__/|___\___| |_| |___/
 *                                       
 */



 .row {
    margin: auto 2rem;
  }
  
  .card {
  
    border-color: #AF84F6;
    box-shadow: 0 -.3rem 0.6rem 0.3rem #AF84F6;
    margin: 1rem;
    padding: 1.5rem 0.75rem 0.75rem;
    height: 95%;
  }

  .grid-container {
    margin-top: 2rem;
  }
  