
/*** tools.custom_mixins
 *      _            _                 _                     _     _         
 *     | |_ ___  ___| |___  __ _  _ __| |_ ___ _ __    _ __ (_)_ _(_)_ _  ___
 *     |  _/ _ \/ _ \ (_-<_/ _| || (_-<  _/ _ \ '  \  | '  \| \ \ / | ' \(_-<
 *      \__\___/\___/_/__(_)__|\_,_/__/\__\___/_|_|_|_|_|_|_|_/_\_\_|_||_/__/
 *                                                 |___|                     
 */

 /*****/
 /// @name vendor-hyphen-auto
 /// @group tools.custom_mixins
 /// @type mixin
 // For more SASSDoc annotations consult http://sassdoc.com/annotations/
 /*****/
 @mixin vendor-hyphen-auto {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;}

 /*****/
 /// @name vendor-box-shadow
 /// @group tools.custom_mixins
 /// @type mixin
 // For more SASSDoc annotations consult http://sassdoc.com/annotations/
 /*****/
  @mixin vendor-box-shadow ($h-offset, $v-offset,$blur:null,$spread:null,$color:null,$inset:null){

    box-shadow: $h-offset $v-offset $blur $spread $color $inset;
    
    -webkit-box-shadow: $h-offset $v-offset $blur $spread $color $inset;
    
    -moz-box-shadow:$h-offset $v-offset $blur $spread $color $inset;

  }


 /*****/
 /// @name box-zero
 /// @group tools.custom_mixins
 /// @type mixin
 /// Reset margins & padding to zero
 // For more SASSDoc annotations consult http://sassdoc.com/annotations/
 /*****/
@mixin box-zero {

  margin:0;
  padding:0;

}
