/* Resize the display classes at 'xxs' viewport */

$mq-scn-575_port :0.4; 
 
@media only screen and (max-width: 575px) and (orientation: portrait) {

   
.display-1 {
    font-size: $display1-size * $mq-scn-575_port !important;
    @include vendor-hyphen-auto;

  }
  .display-2 {
    font-size: $display2-size * $mq-scn-575_port !important;
    @include vendor-hyphen-auto;
    // font-weight: $display2-weight;
    // line-height: $display-line-height;
  }
  .display-3 {
    font-size: $display3-size * $mq-scn-575_port !important;
    @include vendor-hyphen-auto;
    // font-weight: $display3-weight;
    // line-height: $display-line-height;
  }
  .display-4 {
    font-size: $display4-size * $mq-scn-575_port !important;
    @include vendor-hyphen-auto;
    // font-weight: $display4-weight;
    // line-height: $display-line-height;
  }

}