

/*** trumps.type
 *      _                           _                  
 *     | |_ _ _ _  _ _ __  _ __ ___| |_ _  _ _ __  ___ 
 *     |  _| '_| || | '  \| '_ (_-<|  _| || | '_ \/ -_)
 *      \__|_|  \_,_|_|_|_| .__/__(_)__|\_, | .__/\___|
 *                        |_|           |__/|_|        
 */



// stylelint-disable declaration-no-important, selector-list-comma-newline-after

//
// Headings
//



// h1, h2, h3, h4, h5, h6,
// .h1, .h2, .h3, .h4, .h5, .h6 {
//   margin-bottom: $headings-margin-bottom;
//   font-family: $headings-font-family;
//   font-weight: $headings-font-weight;
//   line-height: $headings-line-height;
//   color: $headings-color;
// }

// h1, .h1 { font-size: $h1-font-size; }
// h2, .h2 { font-size: $h2-font-size; }
// h3, .h3 { font-size: $h3-font-size; }
// h4, .h4 { font-size: $h4-font-size; }
// h5, .h5 { font-size: $h5-font-size; }
// h6, .h6 { font-size: $h6-font-size; }

// .lead {
//   font-size: $lead-font-size;
//   font-weight: $lead-font-weight;
// }

// Type display classes
// .display-1 {
//   font-size: $display1-size;
//   font-weight: $display1-weight;
//   line-height: $display-line-height;
// }
// .display-2 {
//   font-size: $display2-size;
//   font-weight: $display2-weight;
//   line-height: $display-line-height;
// }
// .display-3 {
//   font-size: $display3-size;
//   font-weight: $display3-weight;
//   line-height: $display-line-height;
// }
// .display-4 {
//   font-size: $display4-size;
//   font-weight: $display4-weight;
//   line-height: $display-line-height;
// }

/* Re-assign typography variables */



$map-font-size-multiplier:(
  
    xxs: 0.85rem,
    xs:1rem,
    sm:1.2rem,
    md:1.4rem,
    lg:1.6rem,
    xl:1.8rem
  );


  $map-display-size-multiplier:(
  
    xxs:1/1.8, 
    xs:1/1.6,
    sm:1/1.4,
    md:1/1.2,
    lg:1/1,
    xl:1/0.85


      );




  @each $vpt, $width-min in $bp-custom {
 /* Viewport minimum:#{$vpt}, min-width:#{$width-min}, rem:#{map-get($map-font-size-multiplier ,$vpt)}, pixels:#{map-get($map-font-size-multiplier ,$vpt) * 16}    */  
    @media only screen and (min-width:$width-min) {
      
      html {
              font-size: map-get($map-font-size-multiplier ,$vpt );
      }

      .display-1 {

        $ident:1;
        $property:'display#{ident}-size';
        $old_value:;
        $new_value;


        /* #{$vpt} - display#{$ident}-size changed from #{$display#{$ident}-size} to #{((round($display#{$ident}-size * map-get($map-display-size-multiplier,$vpt)* 10))/10)}  */
  
        font-size: ((round($display1-size * map-get($map-display-size-multiplier,$vpt)* 10))/10);
        // font-weight: $display1-weight;
        // line-height: $display-line-height;
      }
      .display-2 {

        $ident:2;

             // font-weight: $display2-weight;
        // line-height: $display-line-height;
      }
      .display-3 {

        $ident:3;
        // font-weight: $display3-weight;
        // line-height: $display-line-height;
      }
      .display-4 {

        $ident:4;
        // font-weight: $display4-weight;
        // line-height: $display-line-height;
      }
    

    }

  };

  /* Adjustment of display classes for smaller viewports */

  
  // @each $rem-size, $min-width in  $size-me {
          
  //   @media only screen and (orientation:portrait) and  (map-get()) {

  //     font-size:$font-size;

  //   }
   
  // }
// }


// $mq-scn-575_port :0.4; 
 
// @media only screen and (max-width: 575px) and (orientation: portrait) {

   
// .display-1 {
//     font-size: $display1-size * $mq-scn-575_port !important;
//     @include vendor-hyphen-auto;

//   }
//   .display-2 {
//     font-size: $display2-size * $mq-scn-575_port !important;
//     @include vendor-hyphen-auto;
//     // font-weight: $display2-weight;
//     // line-height: $display-line-height;
//   }
//   .display-3 {
//     font-size: $display3-size * $mq-scn-575_port !important;
//     @include vendor-hyphen-auto;
//     // font-weight: $display3-weight;
//     // line-height: $display-line-height;
//   }
//   .display-4 {
//     font-size: $display4-size * $mq-scn-575_port !important;
//     @include vendor-hyphen-auto;
//     // font-weight: $display4-weight;
//     // line-height: $display-line-height;
//   }
// }

