/*** trumps.grid
 *        _                                     _    _ 
 *       | |_ _ _ _  _ _ __  _ __ ___  __ _ _ _(_)__| |
 *       |  _| '_| || | '  \| '_ (_-<_/ _` | '_| / _` |
 *      __\__|_|  \_,_|_|_|_| .__/__(_)__, |_| |_\__,_|
 *     |___|                |_|       |___/            
 */



/*

A note about grids.

There are a variety of methods for implementng css grids. In this approach the 
settings specified in the grid-container are minimal.

The individual grid-items determine the precise placement of those items.

NB. Media queries are used to make the grid responsive.

*/



// 24X24
.grid-A {

    display: grid;
    // gap: map-get($spacers, 2);
    gap: 1rem;

    // 24 rows of equal height
    grid-template-rows: repeat(24,1fr);
    // 24 columns of equal width 
    grid-template-columns: repeat(24,1fr);
    min-height:95vh;
    // min-width:95vw;
    margin-top:2vh;
      


    /*
        TEMPORARY SETTINGS
    */

    

    >*{border-width:3px;
        border-color:white;
        border-style: dashed;
    }

   
    $highlight-colors:(
        
        0:transparent,
        1:#FF8E57,
        2:#CF48E8,
        3:#5CA6FF,
        4:#48E86C,
        5:#FFEB50,
        6:#6FFFEB,
        7:#B7E869,
        8:#FFCF80,
        9:#E86983,
        10:red
       
    );

   
    // background-color: map-get($highlight-colors, 0)
    // header{background-color:  map-get($highlight-colors, 1)}
    // nav{background-color:  map-get($highlight-colors, 10)}
    // h1{background-color:  map-get($highlight-colors, 3)}
    //  main{background-color:  map-get($highlight-colors, 4)}
    // footer{background-color:  map-get($highlight-colors, 5)}
    // #div-footer-partial{background-color:  map-get($highlight-colors, 6)}      
    // #div-footer-extended{background-color:  map-get($highlight-colors, 7)}      
    //  .carousel{background-color:  map-get($highlight-colors, 8)}
    //  section{background-color:  map-get($highlight-colors, 9)}

 
    
    // padding-right:auto;      

   /****  END - TEMPORARY SETTINGS ****/ 
    
   
 // 'xs breakpoint' (default)

 
 
 
 
 @include media-breakpoint-up(xs) {


    

     nav {

         grid-row: 1 / 2;
         grid-column: 1 / 25;
               
     }

     h1{

        grid-row: 9 / 10;
        grid-column: 1 / 25;

     }

     footer{
         grid-row:16 / 25;
         grid-column: 1 / 25;   

     }

     #div-brand {
        
        grid-row: 1 / span 2;
        grid-column: 1 / 25; 

     }

     main {
         grid-row: 9 / 14;
         grid-column: 1 / 25;
     }

     div#div-footer-partial {
         grid-row: 16 / 21;
         grid-column: 1 / 25;
     }

     div#div-footer-extended {
         grid-row: 21 / 25;
         grid-column: 1 / 25;
     }

     section{
        grid-row: 21 / 25;
        grid-column: 1 / 25;
     }

     .carousel{
        grid-row: 9/ 14;
        grid-column: 1 / 25;
         
     }

   

   
  }

   // Cope with very small devices (< )
   @media only screen and (orientation: portrait) and (max-width:400px) {
    
    background-color: red; 
    
    nav {
        margin:0;
        padding:0;
        max-width:80%;
        margin-right:10%;
        
    }
    
  
    
 }

// @include media-breakpoint-up(md) { ... }
//  @include media-breakpoint-up(lg) { ... }
//  @include media-breakpoint-up(xl) { ... }



}






