/*** _trumps.grid
 *        _                                     _    _ 
 *       | |_ _ _ _  _ _ __  _ __ ___  __ _ _ _(_)__| |
 *       |  _| '_| || | '  \| '_ (_-<_/ _` | '_| / _` |
 *      __\__|_|  \_,_|_|_|_| .__/__(_)__, |_| |_\__,_|
 *     |___|                |_|       |___/            
 */



/*

A note about grids.

There are a variety of methods for implementng css grids. In this approach the 
settings specified in the grid-container are minimal.

The individual grid-items determine the precise placement of those items.

NB. Media queries are used to make the grid responsive.

*/



// 24X24
.grid-A {

    display: grid;
    grid-gap: map-get($spacers, 3);
    min-height:95vh;
    margin-top:2vh;
    // 24 rows of equal height
    grid-template-rows: repeat(24,1fr);
    // 24 columns of equal width 
    grid-template-columns: repeat(24,1fr);

    >*{border-width:3px;
        border-color:yellow;
        border-style: solid;
    }


    header {
        grid-row: 1 /  6;
        grid-column:1 / 25;
        background-color:red;
    }

    nav{

        grid-row:2/ 4;
        grid-column:8 /24
    }

 

        // div#div-brand {
        //     grid-row-start: ;
        //     grid-row-end: ;
        //     ;
        //     grid-column-start: ;
        //     grid-colum-end: ;
        // }

        // h1 {
        //     grid-row-start: ;
        //     grid-row-end: ;
        //     ;
        //     grid-column-start: ;
        //     grid-colum-end: ;
        // }

        // main {
        //     grid-row-start: ;
        //     grid-row-end: ;
        //     ;
        //     grid-column-start: ;
        //     grid-colum-end: ;
        // }

        // div.carousel {
        //     grid-row-start: ;
        //     grid-row-end: ;
        //     ;
        //     grid-column-start: ;
        //     grid-colum-end: ;
        // }

        // div#div-id-content-container {
        //     grid-row-start: ;
        //     grid-row-end: ;
        //     ;
        //     grid-column-start: ;
        //     grid-colum-end: ;
        // }

        footer {
         grid-row: 19 / 25;
         grid-column: 1 / 25;
         background-color:red;
        }

        // div#div-footer-partial grid-row-start:;
        // grid-row-end:;
        // ;
        // grid-column-start:;
        // grid-colum-end:;

        //     {}

        // div#div-footer-extended {
        //     grid-row-start: ;
        //     grid-row-end: ;
        //     ;
        //     grid-column-start: ;
        //     grid-colum-end: ;
        // }





}





// @include media-breakpoint-up(md){

// }
// @include media-breakpoint-up(lg){

// }
// @include media-breakpoint-up(xl){

// }
// }