

/*** trumps.brand
 *      _                            _                     _ 
 *     | |_ _ _ _  _ _ __  _ __ ___ | |__ _ _ __ _ _ _  __| |
 *     |  _| '_| || | '  \| '_ (_-<_| '_ \ '_/ _` | ' \/ _` |
 *      \__|_|  \_,_|_|_|_| .__/__(_)_.__/_| \__,_|_||_\__,_|
 *                        |_|                                
 */
  

 
.brand {

    @extend %brand;

   h2 {

        @media screen and (max-width:$bp-custom-xs){
            
          position: relative;
          left:-.5rem;
        }

   } 
    
   img.img-fluid{
        
        // Ratio at best size 281:273
        
        $img-fluid-ratio: (281/279);
        $img-fluid-max-width:281px;
        $img-fluid-max-height:379px * $img-fluid-ratio;
 
        
        margin:auto auto auto 18%;

        

        // Prevent giant image
        @media screen and (min-width:$bp-custom-md){
      
        max-width:$img-fluid-max-width * 1.7;
        max-height:$img-fluid-max-height;
        margin:auto auto auto 37%;          
      
        }

                 
    }

       
}


.brand-accent {


  [class^="carousel-control-"] {

   color:$brand-accents-color-stop-4;
   opacity: 0.1;

    &:hover{
      opacity:1.0;
    }

  }

 
  // .card-header{
    
  //   // /* shade function applied */
  //   // background-color: shade($brand-accents-color-stop-1,5);
  //   // opacity: 0.5;
  
    

  // }

}
