

/***
 *                                                      _         
 *                                                     | |        
 *      ___ ___  _ __ ___  _ __   ___  _ __   ___ _ __ | |_ ___   
 *     / __/ _ \| '_ ` _ \| '_ \ / _ \| '_ \ / _ \ '_ \| __/ __|  
 *    | (_| (_) | | | | | | |_) | (_) | | | |  __/ | | | |_\__ \_ 
 *     \___\___/|_| |_| |_| .__/ \___/|_| |_|\___|_| |_|\__|___(_)
 *                        | |                                     
 *                        |_|                                     
 *      __            _              _                            
 *     / _|          | |            | |                           
 *    | |_ ___  _ __ | |_ ______ ___| | __ _ ___ ___  ___  ___    
 *    |  _/ _ \| '_ \| __|______/ __| |/ _` / __/ __|/ _ \/ __|   
 *    | || (_) | | | | |_      | (__| | (_| \__ \__ \  __/\__ \_  
 *    |_| \___/|_| |_|\__|      \___|_|\__,_|___/___/\___||___(_) 
 *                                                                
 *                                                                
 *                             _                                  
 *                            | |                                 
 *      __ _  ___   ___   __ _| | ___                             
 *     / _` |/ _ \ / _ \ / _` | |/ _ \                            
 *    | (_| | (_) | (_) | (_| | |  __/                            
 *     \__, |\___/ \___/ \__, |_|\___|                            
 *      __/ |             __/ |                                   
 *     |___/             |___/                                    
 */

 @import url('https://fonts.googleapis.com/css?family=Allerta+Stencil|Caveat|Comfortaa|Delius+Unicase|Handlee|Merriweather:300|Michroma|Orbitron|Rock+Salt|Sarpanch|Tillana:600');



 .g-font-1 {
       font-family:Allerta+Stencil;
 
   }
   .g-font-2 {
         font-family:Caveat;
 
     }
   .g-font-3 {
         font-family:Comfortaa;
 
     }
   .g-font-4 {
         font-family:Delius+Unicase;
 
     }
   .g-font-5 {
         font-family:Handlee;
 
     }
   .g-font-6 {
         font-family:Merriweather;
 
     }
   .g-font-7 {
         font-family:Michroma;
 
     }
   .g-font-8 {
         font-family:Orbitron;
 
     }
   .g-font-9 {
         font-family:Rock+Salt;
 
     }
   .g-font-10 {
         font-family:Sarpanch;
 
     }
   .g-font-11 {
         font-family:Tillana;
 
 
     }