

/***
 *                                          _        
 *      __ ___ _ __  _ __  ___ _ _  ___ _ _| |_ ___  
 *     / _/ _ \ '  \| '_ \/ _ \ ' \/ -_) ' \  _(_-<_ 
 *     \__\___/_|_|_| .__/\___/_||_\___|_||_\__/__(_)
 *       __         |_|        _                     
 *      / _|___ _ _| |_ ___ __| |__ _ _________ ___  
 *     |  _/ _ \ ' \  _|___/ _| / _` (_-<_-< -_|_-<_ 
 *     |_|_\___/_||_\__|   \__|_\__,_/__/__|___/__(_)
 *      / _|___ _ _| |_ ___ / _|__ _ _ __ (_) |_  _  
 *     |  _/ _ \ ' \  _|___|  _/ _` | '  \| | | || | 
 *     |_| \___/_||_\__|   |_| \__,_|_|_|_|_|_|\_, | 
 *                                             |__/  
 */

 .font-serif {
    font-family: $font-family-google-serif;
  }
  
  .font-sans-serif {
    font-family: $font-family-google-sans-serif;
  }
  
  .font-monospace {
    font-family: $font-family-google-monospace;
  }
  
  .font-display {
    font-family: $font-family-google-display;
  }
  
  .font-hand-writing {
    font-family: $font-family-google-hand-writing;
  }
  