

/*** components.brand
 *                                             _        _                     _ 
 *         __ ___ _ __  _ __  ___ _ _  ___ _ _| |_ ___ | |__ _ _ __ _ _ _  __| |
 *        / _/ _ \ '  \| '_ \/ _ \ ' \/ -_) ' \  _(_-<_| '_ \ '_/ _` | ' \/ _` |
 *      __\__\___/_|_|_| .__/\___/_||_\___|_||_\__/__(_)_.__/_| \__,_|_||_\__,_|
 *     |___|           |_|                                                      
 */



.brand{

      
            background-image: url('/img/logo_gradient.png');
            opacity:0.8;
                 
        /* you need to match the shadow color to your background or image border for the desired effect*/
        // box-shadow: 0, 15px, 8px, 8px #423354 inset;  
        box-shadow: 1em 0.5em 80em 1em #343A40;
        // -webkit-box-shadow
        // -moz-box-shadow

        img {
            padding-left:25%;
        }
        

        
}
 


