/***
 *              _   _   _                          
 *             | | | | (_)                         
 *     ___  ___| |_| |_ _ _ __   __ _ ___          
 *    / __|/ _ \ __| __| | '_ \ / _` / __|         
 *    \__ \  __/ |_| |_| | | | | (_| \__ \_        
 *    |___/\___|\__|\__|_|_| |_|\__, |___(_)       
 *                               __/ |             
 *                              |___/              
 *      __            _       _             _      
 *     / _|          | |     | |           | |     
 *    | |_ ___  _ __ | |_ ___| |_ __ _  ___| | __  
 *    |  _/ _ \| '_ \| __/ __| __/ _` |/ __| |/ /  
 *    | || (_) | | | | |_\__ \ || (_| | (__|   < _ 
 *    |_| \___/|_| |_|\__|___/\__\__,_|\___|_|\_(_)
 *                                                 
 *                                                 
 *                             _                   
 *                            | |                  
 *      __ _  ___   ___   __ _| | ___              
 *     / _` |/ _ \ / _ \ / _` | |/ _ \             
 *    | (_| | (_) | (_) | (_| | |  __/             
 *     \__, |\___/ \___/ \__, |_|\___|             
 *      __/ |             __/ |                    
 *     |___/             |___/                     
 */

    // Google font imports

      // default google (project) fonts - as distinct from classes
      @import url('https://fonts.googleapis.com/css?family=Arvo|Comfortaa|Courgette|Cousine|Prosto+One|Roboto');


    $font-family-google-serif: 'Arvo', serif;

    $font-family-google-sans-serif: 'Roboto', sans-serif;

    $font-family-google-monospace: 'Cousine', monospace;

    $font-family-google-display: 'Prosto One', cursive;

    $font-family-google-hand-writing:'Courgette', cursive;

