



/***
 *              _                 _    _                _        _              
 *      ____ __| |__ ___ __ _ _ _(_)__| |___ __ ___ _ _| |_ __ _(_)_ _  ___ _ _ 
 *     (_-< '_ \ '_ \___/ _` | '_| / _` |___/ _/ _ \ ' \  _/ _` | | ' \/ -_) '_|
 *     /__/ .__/_.__/   \__, |_| |_\__,_|   \__\___/_||_\__\__,_|_|_||_\___|_|  
 *        |_|           |___/                                                   
 */


/*
Browsers/versions requiring prefixes

- ie10, Edge 12 (-ms), ieMobile 11


*/


.spb-grid-container {

  display: grid;
  display: -ms-grid;
  
}

%grid-container {
    display: grid ;
    display: -ms-grid ;
    margin-top: 2rem ;
    grid-gap: map-get($spacers, 4) ; //  both the row gap and the column gap in one value
    justify-content: space-evenly ;
    align-content: center ;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto ; // The value is a space-separated-list, where each value defines the the height of the respective row
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto ; //property defines the number of columns in your grid layou
  }